<div class="text-center">
    <h2>{{post.title}}</h2>
    <div>
        <p>Created by: {{post.user.username}} on {{format_date post.date_created}}</p>
    </div>
    <p>{{post.body}}</p>
    <p>
        <button class="btn btn-primary">Comment</button>
    </p>
</div>

<div class="card">
    <div class="card-header">
        <h3>Comments</h3>
    </div>
    <section class="card-body">
        <div class="comments">
            {{#each post.comments}}
            <section class="comment">
                <div>
                    {{user.username}} on {{format_date post.date_created}}
                </div>
                <div class="text">
                    {{body}}
                </div>
            </section>
            {{/each}}
        </div>
    </section>
</div>

<!--Add new comment section -->
{{#if loggedIn}}
    <form id="newComment" class="card">
        <div class="card-header">
            <h3>Add New Comment here!</h3>
        </div>
        <div class="card-body">
            <input type="hidden" name="post-id" value="{{post.id}}" />

            <label class="form-label" for="comment-body">Comment</label>
            <textarea name="comment-body" class="form-input"></textarea>

            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
{{/if}}

<script src="/js/comment.js"></script>